.green {
    color:#50fa7b;
}
.background {
    color:#282a36;
}
.navy {
    color:#44475a;
}
.white {
    color:#f8f8f2;
}
.blue {
    color:#6272a4;
}
.lightblue {
    color:#8be9fd;
}
.orange{
    color:#ffb86c;
}
.red {
    color:#ff5555;
}
.yellow{
    color:#f1fa8c;
}
.purple{
    color:#bd93f9;
}



body {
    background-color: #44475a;
}    
p {
    color: #f8f8f2;
}

h1 {
    color: #50fa7b;
}

h2 {
    color: #50fa7b;
}

#nav {
    height: 30%;
    background-color: #282a36;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}

#foot {
    background-color: #282a36;
    text-align: center;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
}

#webtitle{
    text-align: center;
    font-size: 48px;
    font-weight: bold;

}
#menu{
    background-color: #ffb86c;
}
.center{
    text-align: center;
}

.nav-elements {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btn-group button {
    background-color: #414458; /* Green background */
    border: 1px solid #626684; /* Green border */
    color: #f8f8f2; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
} 
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

  /* Add a background color on hover */
.btn-group button:hover {
    background-color: #626684;
}



.sidenav {
    width: 20%; /* original 130px */
    position: relative;
    z-index: 1;
    top: 20px; /* original 20px */
    left: 10px; /* original 10px */
    background: #282a36;
    overflow-x: hidden;
    padding: 8px 0; /* original 8px 0 */
    float: left;
}

/* Clear floats (clearfix hack) */
.sidenav:after {
    content: "";
    clear: both;
    display: table;
}

.sidenav a {
    padding: 6px 8px 6px 16px;  /* original 6px 8px 6px 16px */
    text-decoration: none;
    font-size: 25px;
    color: #ffb86c;
    display: block;
}

.sidenav a:hover {
    color: #ffdab3;
}

.main {
    margin-left: 22%; /* Same width as the sidebar + left position in px */
    /*font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.main p{
    font-size: 21px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#middle {
    padding-top: 2%;
    display: block;
}

.spacer{
    margin-bottom: 110px; /* how high is your footer */
    visibility: hidden; 
}

@media screen and (max-width: 1000px) {
    .sidenav {
        width: 100%; /* original 130px */
        top: 20px; /* original 20px */
        left: 10px; /* original 10px */
        background: #282a36;
        overflow-x: hidden;
        padding: 8px 0; /* original 8px 0 */
    }
    .main {
        margin: 1%; /* Same width as the sidebar + left position in px */
        /*font-size: 28px; /* Increased text to enable scrolling */
        padding: auto;
    }
}

code {
    background-color: #282a36;
    color: #ff79c6;
    font-size: 21px;
    margin: 5px;
}