.green {
    color:#50fa7b;
}
.background {
    color:#282a36;
}
.navy {
    color:#44475a;
}
.white {
    color:#f8f8f2;
}
.blue {
    color:#6272a4;
}
.lightblue {
    color:#8be9fd;
}
.orange{
    color:#ffb86c;
}
.red {
    color:#ff5555;
}
.yellow{
    color:#f1fa8c;
}
.purple{
    color:#bd93f9;
}



body {
    background-color: #44475a;
}    
p {
    color: #f8f8f2;
}

h1 {
    color: #50fa7b;
}

#nav {
    height: 25%;
    background-color: #282a36;
    margin: 0%;
    position: relative;
}

#foot {
    background-color: #282a36;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.webtitle{
    margin: 0%;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}
#menu{
    background-color: #ffb86c;
}
.center{
    text-align: center;
}

#sidebar{
    width: 25%;
    background-color: #282a36;
    margin: 5%;
    position: relative;
}

.content {
    margin: 5%;
}

.nav-elements {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar-elements {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-point{
    list-style-type: none;
}

.bar-item {
    margin-top: 1%;
}